.card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 8px;
    background: #FFF;
    font-family: "Roboto", sans-serif;
}

.h1 {
    margin: 0;
}

.p {
    margin: 0;
}
