.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: #F5F5F5;

}

.content {
    display: flex;
    flex-direction: row;
    gap: 1.44rem;
    margin-top: 85px;
    padding: 1.5rem 2rem;
    line-height: 1.5rem;
    color: #1B1F23;
}