.button {
  border: 0 solid;
  border-radius: 4px;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}

.deleteButton {
  padding: 4px;
  background: #ffffff;
}

.primary {
  color: white;
  border: 1px solid #ff5500;
  background: #ff5500;
}

.primary:hover {
  background: #e94e00;
}

.outline {
  background: none;
  color: #F50;
  border: 1px solid #F50;
}

.outline:hover {
  color: #e94e00;
  border: 1px solid #e94e00;
}

.buttonWithIcon {
  padding: 4px;
  background: #ff5500;
}

.buttonWithIcon:active {
  background: #ff5500;
}

.buttonWithIcon:hover {
  background: #e94e00;
}

.buttonWithIcon:disabled {
  background: #ffa375;
}

.buttonWithText {
  height: fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 10px 16px;
}

.basket {
  padding: 4px;
  color: white;
  background: #ff5500;
  width: 1.75rem;
  height: 1.75rem;
}