.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    padding: 1.96rem 2rem;
    font-family: "Roboto", serif;
    font-size: 1.25rem;
    color: white;
}