.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
}

.input {
    display: flex;
    padding: 0.625rem 1rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #E1E3E6;
    background: #FFF;

    font-size: 0.875rem;
}

.input:focus {
    color: #1B1F23;
    border: 1px solid #F50;
}