.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;
}

.title {
    font-family: SF Pro Text, serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
}

.genre {
    font-family: SF Pro Text, serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.buttonsBlock {
    padding: 0;
    gap: 8px;
}