.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #FFF;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title > h2 {
    margin: 0;
}

.item > p {
    margin: 0;
}

.button {
    border: 0 solid;
    border-radius: 4px;
    background: #FFF;
}